<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Editar Músicas</title>

<th:block th:replace="~{/../fragments/head :: head('Editar Música')}"></th:block>

<body>

<th:block th:replace="~{/../fragments/head :: header}"></th:block>

<div class="container">
    <h1>Editar Músicas</h1>
    <form action="#" th:action="@{/song/save}" th:object="${song}" method="POST">

       <!-- Campo necessário para que o save saiba que não estamos criando, mas editando uma música -->
       <input type="hidden" th:field="*{id}" />
       <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{name}" class="form-control" id="name" name="name" placeholder="Digite o nome da música">
                <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="*{name}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="artist">Artista:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{artist}" class="form-control" id="artist" name="artist" placeholder="Digite o artista/banda">
                <p th:if="${#fields.hasErrors('artist')}" th:errorclass="text-danger" th:errors="*{artist}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="genre">Gênero:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{genre}" class="form-control" id="genre" name="genre" placeholder="Digite o gênero da música">
                <p th:if="${#fields.hasErrors('genre')}" th:errorclass="text-danger" th:errors="*{genre}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="duration">Duração:</label>
            <div class="col-sm-10">
                <input type="number" th:field="*{duration}" class="form-control" id="duration" name="duration" step="0.01"
                    placeholder="Digite o tempo de duração da música. Ex 3.4">
                <p th:if="${#fields.hasErrors('duration')}" th:errorclass="text-danger" th:errors="*{duration}" />
            </div>
        </div>
                <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="rate">Classificação:</label>
            <div class="col-sm-10">
                <input type="number" th:field="*{rate}" class="form-control" id="rate" name="rate"
                    placeholder="Digite a classificação da música. 0 = péssima. 5 = perfeita">
                <p th:if="${#fields.hasErrors('rate')}" th:errorclass="text-danger" th:errors="rate" />
            </div>
        </div>
 
        <button type="submit" class="btn btn-info col-2"> Salvar Música</button>
    </form>
</div>

<th:block th:replace="~{/../fragments/footer :: footer}"></th:block>

</body>
</html>