<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Listagem de Músicas</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <a th:href="@{/song/create}">Cadastrar Música</a>
      <h1>Listagem de Música</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Artista</th>
            <th scope="col">Gênero</th>
            <th scope="col">Duração</th>
            <th scope="col">Classificação</th>
            <th scope="col">Excluir</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="song : ${songsList}">
            <td scope="row" th:text="${song.name}"></td>
            <td scope="row" th:text="${song.artist}"></td>
            <td scope="row" th:text="${song.genre}"></td>
            <td scope="row" th:text="${song.duration}"></td>
            <td scope="row" th:text="${song.rate}"></td>
            <td>
            	<a th:href="@{/song/delete/{id}(id=${song.id})}">Deletar</a>
            </td>
            <td>
            	<a th:href="@{/song/edit/{id}(id=${song.id})}">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>