<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block
    th:replace="~{/../fragments/head :: head('Listar Música')}"
></th:block>

  <body>
  
  <th:block th:replace="~{/../fragments/head :: header}"></th:block>
  
    <div class="container">

      <h1>Listagem de Música</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Artista</th>
            <th scope="col">Gênero</th>
            <th scope="col">Duração</th>
            <th scope="col">Classificação</th>
            <th scope="col">Excluir</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="song : ${songsList}">
            <td scope="row" th:text="${song.name}"></td>
            <td scope="row" th:text="${song.artist}"></td>
            <td scope="row" th:text="${song.genre}"></td>
            <td scope="row" th:text="${song.duration}"></td>
            <td scope="row" th:text="${song.rate}"></td>
            <td>
            	<a th:href="@{/song/delete/{id}(id=${song.id})}">Deletar</a>
            </td>
            <td>
            	<a th:href="@{/song/edit/{id}(id=${song.id})}">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
    
  </body>
</html>